@(message: String)

@main("Формирование запроса") {

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="d_class">Класс опасности:</label>
        <select id="d_class" class="form-control" required="required">
            <option>- - -</option>
            <option>I</option>
            <option>II</option>
        </select>
    </div>
    <div class="form-group">
        <label for="t_type">Тип отходов:</label>
        <select id="t_type" class="form-control" required="required">
            <option>- - -</option>
            <option>Бумага</option>
            <option>Дерево</option>
        </select>
    </div>
    <div class="form-group">
        <label for="t_count">Количество отходов (в кг):</label>
        <input type="text" id="t_count" pattern="[0-9]+\.?[0-9]*" class="form-control" title="Используйте только цифры, точку" required="required">
    </div>
    <div class="form-group">
        <label for="a_state">Агрегатное состояние</label>
        <select id="a_state" class="form-control" required="required">
            <option>- - -</option>
            <option>Жидкое</option>
        </select>
    </div>
    <div class="form-group">
        <label for="d_time">Время полного разложения (в годах):</label>
        <input type="text" id="d_time" pattern="[0-9]+\.?[0-9]*" class="form-control" title="Используйте только цифры, точку" required="required">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Запрос">
    </div>
</form>

<div>
    <h3>Рекомендации:</h3>
    <p id="result"></p>
</div>

}
